@CHARSET "UTF-8";

html {
	height: 98.5%;
}

body {
	background: #f0f7f7;
	font-family: "Trebuchet MS", Helvetica, Jamrul, sans-serif;
	font-size: 14px;
	margin: 0 auto;
	padding: 10px;
	min-width: 1000px;
	min-height:97.5%;
	position: relative;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0 10px;
}

p {
	margin: 0;
}

sup, sub {
	vertical-align: inherit;
	font-size: 10px;
	position: relative;
}

sup {
	top: -3px;
}

sub {
	bottom: -3px;
}

.margem {
	margin-right: auto;
	margin-left: auto;
	min-width: 900px;
	width: 900px;
}

.rules {
	margin-right: auto;
	margin-left: auto;
	width: 900px;
	min-width: 900px;
}

.rules p{
    margin: 0 0 10px 0;
}