@CHARSET "UTF-8";

.orange {
	width: 40px;
	color: #FFFFFF;
	background: #ff8523;
	border-bottom: #ff6300 solid 3px;
	border-radius: 3px;
}

.gray {
	width: 40px;
	color: #FFFFFF;
	background: #969696;
	border-bottom: #7f7f7f solid 3px;
	border-radius: 3px;
}

.blue {
	width: 40px;
	color: #FFFFFF;
	background: #008be0;
	border-bottom: #0151ff solid 3px;
	border-radius: 3px;
}