@CHARSET "UTF-8";

.AC {
	font-weight: bold;
	color: green;
}

.WA {
	font-weight: bold;
	color: red;
}

.CE {
	font-weight: bold;
	color: #cbcb10;
}

.TLE {
	font-weight: bold;
	color: #3030e2;
}

.SE {
	font-weight: bold;
	color: black;
}